<a href="https://colab.research.google.com/github/DiegoMontemayor/Mineria-de-Datos/blob/main/Ej_Python_1847156.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nombre:** Diego Marcelo Montemayor Guerra
# **Matrícula:** 1847156

#Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
#https://www.delftstack.com/es/howto/python/python-check-variable-type/#:~:text=variable%20en%20Python.-,Utilizar%20la%20funci%C3%B3n%20type()%20para%20comprobar%20el%20tipo%20de,de%20datos%20de%20la%20variable.
#https://j2logo.com/como-concatenar-y-formatear-strings/
mat="1847156"
type(mat)
print("Diego Montemayor",mat)
"Diego Montemayor "+mat

Diego Montemayor 1847156

'Diego Montemayor 1847156'

#Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
#https://codingornot.com/08-python-validar-entradas-ejemplos11
#https://www.mclibre.org/consultar/python/lecciones/python-entrada-teclado.html
#https://es.stackoverflow.com/questions/49194/c%C3%B3mo-convertir-un-tipo-string-a-float-o-int
b=0 #Bandera
while b == 0:
  print("Ingrese el 1er. número")
  n1=input()
  print("\nIngrese un 2do. número")
  n2=input()
  try:
    print("\n\nSuma: ",float(n1),"+",float(n2),"=",float(n1)+float(n2))
    b=1
  except ValueError:
    print("\n\nSolamente ingrese números por favor.")
    b=0
n3=float(n1)
n4=float(n2)
print("\n\nResta: ",n3,"-",n4,"=",n3-n4)
print("\n\nMultiplicación: ",n3,"*",n4,"=",n3*n4)
print("\n\nDivisión: ",n3,"/",n4,"=",n3/n4)
print("\n\nExponente: ",n3,"^",n4,"=",n3**n4)

Ingrese el 1er. número
2

Ingrese un 2do. número
3


Suma:  2.0 + 3.0 = 5.0


Resta:  2.0 - 3.0 = -1.0


Multiplicación:  2.0 * 3.0 = 6.0


División:  2.0 / 3.0 = 0.6666666666666666


Exponente:  2.0 ^ 3.0 = 8.0

#Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
i=2
lista=[3]
while i<11:
  lista.insert(i,i*3)
  i=i+1
print(lista)
i=0
suma=0
while i<10:
  suma=suma+lista[i]
  i=i+1
print(suma)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
165

#Ejercicio 4
*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [ ]:
#https://ellibrodepython.com/numeros-primos-python#:~:text=Para%20determinar%20si%20un%20n%C3%BAmero,es%20primo%20y%20devolvemos%20False%20.
b=0
while b == 0:
  print("Ingrese un número")
  x=input()
  try:
    print("\n\nSu número es:",float(x))
    b=1
  except ValueError:
    print("\n\nSolamente ingrese números por favor.")
    b=0
y=float(x)
if y%2==0:
  print("Su número es par")
else:
  print("Su número es impar")
z=y-1
i=2
b2=0 #2da. bandera
while i<=z:
  if y%i!=0:
    b2=b2+0
  else:
    b2=b2+1
  i=i+1
if b2==0:
  print("Su número es primo")
else:
  print("Su número NO es primo")

Ingrese un número
104729


Su número es: 104729.0
Su número es impar
Su número es primo

#Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
#https://tutorial.recursospython.com/clases/
n1=3 #1er. número arbitrario
n2=4 #2do. número arbitrario
na=[9,1,5,7] #na=números aleatorios
str1="8"
str2="17"
str3="250"
str4="15.5"
class OB:
  def suma(self):
    print("Suma: ",na[0],"+",na[1]," = ",na[0]+na[1],"\n")
  def resta(self):
    print("Resta: ",na[2],"-",na[3]," = ",na[2]-na[3],"\n")
  def mult(self): #mult=multiplicación
    print("Multiplicación: ",str1,"*",str2," = ",int(str1)*int(str2),"\n")
  def div(self): #div=división
    print("División: ",str3,"/",str4," = ",float(str3)/float(str4),"\n")
  def exp(self): #exp=exponente
    print("Exponente: ",n1,"^",n2," = ",n1**n2,"\n")
ob=OB()
ob.suma()
ob.resta()
ob.mult()
ob.div()
ob.exp()

Suma:  9 + 1  =  10

Resta:  5 - 7  =  -2

Multiplicación:  8 * 17  =  136

División:  250 / 15.5  =  16.129032258064516

Exponente:  3 ^ 4  =  81

#Tuplas

*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
#https://ellibrodepython.com/booleano-python
#https://ellibrodepython.com/numeros-complejos
vflot=2.0
vint=7
vboo=True
vcom=5+5j
print(type(vflot))
print(type(vint))
print(type(vboo))
print(type(vcom))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

*   Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
tup=(11,12,13,14,15)
print(tup[0])
print(tup[4])

11
15

*   Añadir 3 valores de string a la tupla.

In [ ]:
tup=(11,12,13,14,15)
tup=tup.__add__((20,21,22,))
print(tup)

(11, 12, 13, 14, 15, 20, 21, 22)

*   Verificar si una variable existe dentro de la tupla

In [ ]:
#https://www.delftstack.com/es/howto/python/python-check-if-variable-exists/
tup=(11,12,13,14,15)
tup=tup.__add__((20,21,22,))
if 'tup' in globals():
    print ("tup: variable exist")
else:
    print ("tup: variable does not exist")

tup: variable exist

#Listas

*   Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
#https://j2logo.com/python/generar-numeros-aleatorios-en-python/
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
print(lista)
print("\nCantidad de números aleatorios en la lista:",len(lista))

[26, 25, 53, 22, 70, 16, 6, 68, 44, 13, 40, 45, 56, 85, 16, 98, 5, 27, 39, 71, 79, 42, 33, 96, 64, 54, 100, 61, 33, 67, 100, 25, 22, 36, 22, 57, 27, 34, 79, 4]

Cantidad de números aleatorios en la lista: 40

*   Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    print("\nNúmeros pares: ",npares)
    print("\nNúmeros impares: ",nimpares)
f.parimp(lista)

Números pares:  [76, 20, 88, 94, 46, 38, 92, 90, 76, 18, 38, 40, 6, 92, 66, 66]

Números impares:  [89, 17, 21, 49, 79, 7, 9, 73, 45, 13, 97, 51, 7, 77, 79, 49, 27, 57, 3, 53, 43, 33, 39, 37]

*   Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    x=len(pares)
    y=len(impares)
    print("Cantidad de números pares:",x,"\nNúmeros pares: ",npares)
    print("\nCantidad de números impares:",y,"\nNúmeros impares: ",nimpares)
f.parimp(lista)

Cantidad de números pares: 24
Números pares:  [30, 80, 34, 96, 74, 72, 2, 72, 6, 12, 54, 14, 66, 62, 90, 4, 22]

Cantidad de números impares: 16
Números impares:  [37, 69, 41, 99, 37, 9, 41, 65, 71, 35, 7, 89, 39, 75, 51, 77, 59, 17, 19, 11, 89, 41, 23]

*   Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
#https://j2logo.com/python/ordenar-una-lista-en-python/
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    npares.sort(reverse=True)
    nimpares.sort()
    x=len(pares)
    y=len(impares)
    print("Cantidad de números pares:",x,"\nNúmeros pares: ",npares)
    print("\nCantidad de números impares:",y,"\nNúmeros impares: ",nimpares)
f.parimp(lista)

Cantidad de números pares: 24
Números pares:  [98, 90, 90, 86, 86, 84, 66, 62, 50, 46, 46, 44, 40, 34, 26, 26, 18, 6]

Cantidad de números impares: 16
Números impares:  [1, 5, 19, 21, 31, 33, 35, 39, 39, 45, 45, 55, 55, 57, 63, 65, 83, 83, 89, 91, 93, 93]

*   Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
lista.append(500)
lista.reverse()
lista.pop()
lista.extend([-1,-2])
lista

[500,
 6,
 62,
 26,
 93,
 39,
 39,
 90,
 18,
 21,
 63,
 26,
 65,
 46,
 34,
 45,
 50,
 40,
 31,
 1,
 83,
 90,
 35,
 89,
 5,
 66,
 86,
 86,
 98,
 83,
 19,
 91,
 84,
 44,
 45,
 93,
 55,
 57,
 55,
 33,
 -1,
 -2]

#Diccionarios

*   Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [271]:
d1={'Mauricio':22,'Alejandro':21,'Erick':19,'Edu':20,'Ian':21,'Marcelo':20}
d1

{'Alejandro': 21,
 'Edu': 20,
 'Erick': 19,
 'Ian': 21,
 'Marcelo': 20,
 'Mauricio': 22}

*   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [272]:
listad1=[]
listad1.append(d1['Mauricio'])
listad1.append(d1['Alejandro'])
listad1.append(d1['Erick'])
listad1.append(d1['Edu'])
listad1.append(d1['Ian'])
listad1.append(d1['Marcelo'])
listad1.sort()
listad1

[19, 20, 20, 21, 21, 22]

*   Usando el diccionario y un loop, imprimir solo los nombres.

In [302]:
#https://devcode.la/tutoriales/diccionarios-en-python/
for key in d1:
  print (key)

Mauricio
Alejandro
Erick
Edu
Ian
Marcelo

*   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [305]:
d1["Cristian"]="20"
d1["Víctor"]="21"
d1

{'Alejandro': 21,
 'Cristian': '20',
 'Edu': 20,
 'Erick': 19,
 'Ian': 21,
 'Marcelo': 20,
 'Mauricio': 22,
 'Víctor': '21'}

#Sets

*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [355]:
set100={1}
i=1
set100.remove(1)
while i<=100:
  set100.add(random.randint(1,25))
  i=i+1

*   Comprueba la longitud de tu set.

In [356]:
len(set100)

25

*   Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [376]:
lista5=[]
i=1
while i<=5:
  lista5.append(random.randint(1,10))
  i=i+1
i=0
while i<=4:
  print(lista5[i] in set100,". El número ",lista5[i]," sí está en el set")
  i=i+1

True . El número  6  sí está en el set
True . El número  8  sí está en el set
True . El número  7  sí está en el set
True . El número  9  sí está en el set
True . El número  6  sí está en el set